@use 'variables';
@use 'mixins';

.control-show {
    @include mixins.navigationArrows;
    
    &__container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        margin-top: 3%;

        @media (max-width: 768px) {
            margin-top: 1vh;
        }

        .control-show__brand__container-infos {
            padding: 2vw;
            width: 100%;

            @media (max-width: 768px) {
                padding: 2vw;
            }

            img {
                width: 100%;
                max-width: 280px;

                @media (max-width: 768px) {
                    max-width: 140px;
                }
            }

            p {
                padding: 1vw;
                margin-top: 1%;
                font-weight: 400;
                width: 60%;
                color: variables.$principalFont;

                @media (max-width: 768px) {
                    font-size: 10px;
                    width: 100%;
                    line-height: 1.4;
                    
                    border-radius: 8px;
                    padding: 6px;
                    
                }
            }

            &__categories {
                display: flex;
                align-items: center;
                padding: 1vw;
                gap: 12px;
                
                @media (max-width: 768px) {
                    gap: 3px;
                    padding: 0;
                    margin-top: 5%;
                } 

                &__item {
                    border: 2px solid variables.$principalTextColor;
                    border-radius: 20px;
                    padding: 12px;
                    color: variables.$principalTextColor;
                    font-weight: 500;
                    background-color: rgba(variables.$detailsColor, .4);

                    &:nth-child(4), &:nth-child(5) {
                        border: none;
                        background-color: transparent;
                    }

                    @media (max-width: 768px) {
                        padding: 4px 8px;
                        font-size: 10px;

                        &:nth-child(4) {
                            font-size: 12px;
                            display: flex;
                            align-items: center;
                            gap: 3px;
                        }

                        &:nth-child(5) {
                            font-size: 12px;
                        }
                    } 
                }
            }

            .buttons__container {
                width: 60%;
                display: flex;
                gap: 1vw;
                justify-content: start;
                padding: 1vw;

                @media (max-width: 768px) {
                    width: 130%;
                    margin-top: 10%;
                    padding: 0;
                    gap: 2vw;
                } 
                
                &__button {
                    all: unset;
                    background: transparent;
                    background-color: rgba(variables.$backgroundColor, .9);
                    color: variables.$principalTextColor;
                    padding: 1vw;
                    border-radius: 4px;
                    font-weight: 700;
                    cursor: pointer;
                    
                    @media (max-width: 768px) {
                        font-weight: 700;
                        font-size: 14px;
                        padding: 2vw;
                    } 

                    &__watch {
                        background-color: variables.$secondaryTextColor;
                        border-color: rgba(variables.$secondaryTextColor, .7);
                    }
                }
            }
        }

        .control-show__switch__container {
            margin-top: 15%;

            @media (max-width: 768px) {
                margin-top: 0;
            } 

            &__nav {
                display: flex;
                justify-content: end;
                padding-right: 5vw;
                align-items: start;

                &__list {
                    display: flex;
                    flex-direction: column;
                    gap: 3vh;

                    @media (max-width: 768px) {
                        gap: .5vh;
                    } 

                    &__item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 8px;  

                        span {
                            background-color: variables.$secondaryTextColor;
                            width: 2px;
                            height: 20px;
                            border-radius: 4px;
                            visibility: hidden;
                        }

                        &--is-active {
                            span {
                                visibility: inherit;
                            }
                        }      
                    }
                }
            }
        }
    }
}
