@use 'variables';
@use 'mixins';

.header {
    position: sticky;
    padding: 3vh 2vw 3vh 2vw;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: transparent;
    transition: background-color 0.5s ease-in-out, position 0.3s ease-in-out;
    
    &--is-hidden {
        background-color: variables.$backgroundColor;
        transition: background-color 0.5s ease;
        position: fixed;
    }

    @media (max-width: 768px) {
        padding: 2vh 2vw;
    }

    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        &__nav {
            display: flex;
            align-items: center;
        }

        &__navigation {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 3vw;
            height: 100%;
            margin: 0;

            @media (max-width: 768px) {
                gap: 0.25vw;
            }

            &__item {
                color: variables.$principalTextColor;
                cursor: pointer;
                @include mixins.transform;

                .navigation__item__span {
                    background-color:variables.$secondaryTextColor;
                    height: 2px;
                    display: block;
                    width: 100%;
                    border-radius: 10px;
                    margin-top: 4px;
                    visibility: hidden;
                    
                }

                &--is-active {
                    .navigation__item__span {
                        visibility: inherit;
                    }
                }
            }
        }

        &__profile {
            width: 10%;
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 3vw;
            @media (max-width: 768px) {
                gap: 1vw;
            }
        }
    }
    
}