.hero {
    height: 100vh;
    background-image: url('../images/hero/hero_background_pc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0;

    @media (max-width: 1024px) {
        height: fit-content;
    }
}