@use 'mixins';
@use 'variables';

.highlight {
    @include mixins.navigationArrows;
    @include mixins.sectionBasic;
    
    &__container {
        @include mixins.sectionContainerBasic;
        padding: 12px;

        height: 100%;

        @media (max-width: 768px) {
            padding-bottom: 0;
        }
        
        @media (max-width: 1025px) {
            height: fit-content;
        }
        .highlight__carousel {
            margin-bottom: 3vh;
            text-align: center;
            gap: 1vw;

            
            &__item {
                position: relative;
                cursor: pointer;
                text-align: right;

                img {
                    
                    @media (max-width: 768px) {
                        width: 120px !important;
                    }
                }
                
                &:hover{
                    .num__h3{
                        color: variables.$secondaryTextColor;
                        @include mixins.translateNumComplete;
                    }

                    img {
                        border-color: variables.$principalTextColor;
                        box-shadow: 10px 10px 40px 10px black;
                    }
                }

                .num__7 {
                    
                }

                .num__10 {
                    &:only-child {
                        left: -15px;
                        letter-spacing: -55px;
                        
                        @media (min-width: 768px) and (max-width: 1024px) {
                            left: -45px;
                        }
    
                        @media (min-width: 1025px) and (max-width: 1366px) {
                            left: -38px;
                        }
                    }
                }

                &__num {
                    position: absolute;
                    z-index: 0;
                    top: 50px;
                    left: 25px;

                    @media (max-width: 768px) {
                        left: 0;
                        top: 75px;
                    }

                    @media (min-width: 769px) and (max-width: 1366px) {
                        left: 15px;
                    }

                }
                
                &:nth-child(1) {
                    .highlight__carousel__item__num {
                        left: 40px;
                    }
                }
                
                &:nth-child(7) {
                    .highlight__carousel__item__num {
                        left: 35px;

                        @media (min-width: 1024px) and (max-width: 1366px) {
                            left: 6px;
                        }
                    }
                }
                
                &:nth-child(10) {
                    .highlight__carousel__item__num {
                        left: -15px;
                        @media (min-width: 1024px) and (max-width: 1367px) {
                            left: 26px;
                        }

                        .num__h3 {
                            letter-spacing: -34px;
                        }
                    }
                }


                &:nth-child(13) {
                    .highlight__carousel__item__num {
                        left: -24px;

                        .num__h3 {
                            letter-spacing: -34px;
                        }
                    }
                }

                .num__h3 {
                    font-family: variables.$secondaryFont;
                    font-size: 180px;  
                    color: variables.$backgroundColor;
                    font-weight: 700;
                    -webkit-text-stroke: 5px variables.$secondaryTextColor;
                    @include mixins.translateNum;

                    @media (max-width: 1024px) {
                        display: none;
                    }
                }

                img {
                    width: 160px;
                    height: 100%;
                    max-height: 250px;
                    margin: 0 auto;
                    z-index: 1;
                    border: 2px solid transparent;
                    border-radius: 2px;
                }
            }
        }
    }
}
