@use 'variables';


@mixin sectionBasic {
    @include navigationArrows();
    
    & {
        height: 60vh;
        width: 100%;
    }
}

@mixin sectionContainerBasic {
    padding: 2vw;
    padding-top: 0;
    text-align: center;
}

@mixin transform {
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

@mixin translateNum {
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

@mixin translateNumComplete {

    transform: scale(1.1) translateX(-16px) translateY(-5px);
    @media (max-width: 768px) {
        transform: scale(1.1) translateX(-10px) translateY(-5px);
    }

}


@mixin navigationArrows {

    .highlight__container > .pagination-arrows {
        
        @media (max-width: 1024px) {
            display: none;
        }
    }

    .pagination-arrows {
        padding: 0 2vw;
        width: 100%;
        display: flex;
        justify-content: space-between;    
        color: variables.$principalTextColor;

        &__container {
            all: unset;
            @include transform();
            cursor: pointer;
            display: flex;
            align-items: center;
        }

        .bi {
            font-size: 40px;
        }
    }
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variables.$principalTextColor;
}

@mixin title($fontSize: 28px) {
    @include text($fontSize);
    color: variables.$principalTextColor;
}