@use 'mixins';
@use 'variables';

.mylist {
    @include mixins.navigationArrows;

    &__container {
        @include mixins.sectionContainerBasic;

        @media (max-width: 768px) {
            margin-left: 10px;
        }

        @media ((min-width: 768px) and (max-width: 1024px)) {
            margin-left: 10px;
        }

        @media ((min-width: 1024px) and (max-width: 1367px)) {
            margin-left: 5%;
        }

        .mylist__carousel {
            margin-left: 1%;
            margin-bottom: 3vh;

            .slick-slide {
                margin-right: 10px;
                @media ((min-width: 768px) and (max-width: 1024px)) {
                    margin-right: 10px;
                }
            }

            .slick-list {
                margin-right: 10px;
                @media ((min-width: 768px) and (max-width: 1024px)) {
                    margin-right: -10px;
                }
            }

            &__item {
                position: relative;
                display: flex;
                justify-content: center ;
                align-items: center;
                height: 100%;

                img {
                    width: 100%;
                    @media (max-width: 768px) {
                        max-width: 195px;
                    }

                    @media ((min-width: 768px) and (max-width: 1024px)) {
                        max-width: 240px;
                    }

                    @media ((min-width: 1024px) and (max-width: 1366px)) {
                        max-width: 240px;
                    }
                }
            }
        }
    }

}