@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: variables.$principalFont;
}

body {
    background-color: variables.$backgroundColor;
    font-family: variables.$principalFont, sans-serif;
    padding: 0;
}