@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$principalFont: 'Montserrat', sans-serif;
$backgroundColor: #000;
$principalTextColor: #fff;
$secondaryTextColor: #E50914;
$detailsColor: #171717;

@mixin span() {
    
}