@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

$principalFont: 'Montserrat', sans-serif;
$secondaryFont: 'Playwrite IT Morderna', sans-serif;
$backgroundColor: #000;
$principalTextColor: #fff;
$secondaryTextColor: #5d09e5;
$detailsColor: #171717;