@use 'reset';
@use 'hero';
@use 'header';
@use 'variables';
@use 'control-show';
@use 'mixins';
@use 'highlight';
@use 'my-list';

body {
    font-family: variables.$principalFont, sans-serif;
}

a {
    color: white;
    text-decoration: none;
    @include mixins.transform;
}

p {
    color: variables.$principalTextColor;
}

h2 {
    padding: 2.5vw 4.75vw;
    text-align: left;
    color: variables.$principalTextColor;
    font-weight: 400;
}

.section-split {
    background-color:variables.$detailsColor;
    height: 2px;
    display: block;
    width: 100%;
    max-width: 95vw;
    margin: 2vh auto;
    border-radius: 10px;
}

.v--hidden {
    visibility: hidden;
    cursor: none;
}

button {
    cursor: pointer;
}

.text--big {
    @include mixins.text(18px);
    @media (max-width: 768px) {
        @include mixins.title(15px);
    }
}

.text {
    @include mixins.text;
    @media (max-width: 768px) {
        @include mixins.title(14px);
    }
}

.text--small {
    @include mixins.text(12px);
    @media (max-width: 768px) {
        @include mixins.title(11px);
    }
}

.title {
    @include mixins.title;
    @media (max-width: 768px) {
        @include mixins.title(24px);
    }
}

.title--small {
    @include mixins.title(28px);
    @media (max-width: 768px) {
        @include mixins.title(22px);
    }
}

.title--big {
    @include mixins.title(44px);
    @media (max-width: 768px) {
        @include mixins.title(26px);
    }
}
