@use 'reset';
@use 'hero';
@use 'header';
@use 'variables';
@use 'control-show';
@use 'mixins';
@use 'highlight';

body {
    font-family: variables.$principalFont, sans-serif;
}

a {
    color: white;
    text-decoration: none;
    @include mixins.transform;
}

p {
    color: variables.$principalTextColor;
}

.v--hidden {
    visibility: hidden;
    cursor: none;
}

.text--big {
    @include mixins.text(18px);
    @media (max-width: 768px) {
        @include mixins.title(15px);
    }
}

.text {
    @include mixins.text;
    @media (max-width: 768px) {
        @include mixins.title(14px);
    }
}

.text--small {
    @include mixins.text(12px);
    @media (max-width: 768px) {
        @include mixins.title(11px);
    }
}

.title {
    @include mixins.title;
    @media (max-width: 768px) {
        @include mixins.title(24px);
    }
}

.title--small {
    @include mixins.title(28px);
    @media (max-width: 768px) {
        @include mixins.title(22px);
    }
}

.title--big {
    @include mixins.title(44px);
    @media (max-width: 768px) {
        @include mixins.title(26px);
    }
}
